<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796370330494-oov47foqhukrr7mce69th8tobh1udod2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796370330494-oov47foqhukrr7mce69th8tobh1udod2</string>
	<key>API_KEY</key>
	<string>AIzaSyCVmg3s4Ezp2am5gnziWIZD1ldsVMN_AmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>796370330494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akrolayer.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp1-8a9db</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp1-8a9db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796370330494:ios:a64c31186e6ae5c654892f</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp1-8a9db.firebaseio.com</string>
</dict>
</plist>